@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(223, 223, 223);
}

.container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav{
    display: flex;
    background-color: white;
    /* border: 1px solid black; */
}

.logo{
    /* background-color: yellow; */
    color: blue;
    font-family: 'Nerko One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 36px;
    width: 20vw;
    cursor: pointer;
}

.logo p{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 red;
    color: blue;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-weight: bold;
    font-size: 3vw;
    padding: 10px 20px;
    border-radius: 10vw;
}

.logo p:hover{
    box-shadow: inset 0 0 100px 0 blue;
    color: white;
}

nav{
    width: 80vw;
}

a{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 red;
    color: red;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    font-weight: bold;
    font-size: large;
    padding: 10px 20px;
    border-radius: 10vw;
}

a:hover {
    box-shadow: inset 100px 0 0 0 blue;
    color: white;
}

nav{
    margin-left: 10vw;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    margin: 0 5vw 0 15vw;
}

#download{
    font-weight: bold;
    font-size: large;
    background-color: black;
    padding: 10px 20px;
    border-radius: 10vw;
}

#home{
    padding-top: 80px;
}

.home{
    /* border: 1px solid black; */
    display: flex;
    /* display: none; */
}
.home .photo{
    /* border: 1px solid black; */
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5vw;
}
.home .photo img{
    width: 20vw;
    border-radius: 4vw;
    border: 2px solid blue ;
    transition: transform .2s;
}
.home .photo img:hover{
    transform: scale(1.1);
}

.home .intro{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5vw;
    /* border: 1px solid black; */
    width: 70vw;
    font-size: 2vw;
    color: black;
}
.home .intro #hi{
    color: black;
    font-size: 3vw;
}

.home .intro #name{
    color: black;
    font-size: 5vw;
}


.home .intro #name span{
    color: blue;
    font-size: 5vw;
}


#about{
    padding-top: 80px;
}

.about{
    /* border: 1px solid black; */
    text-align: center;
}

.about h2{
    font-size: 4vw;
}

.about .aboutme{
    display: flex;
    padding: 2vw;
}

.about .aboutme .profile{
    padding: 0 0 0 15vw;
    text-align: left;
    margin: 2vw;
    font-size: 1.5vw;
    /* border: 1px solid black; */
    width: 50vw;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.about .aboutme .profile p{
    /* border: 1px solid red; */
    width: 23vw;
}
.about .aboutme .stat{
    width: 50vw;
    text-align: left;
}

.about .aboutme .stat h3{
    text-align: left;
    font-size: 2vw;
}

.about .aboutme .stat .main{
    margin-top: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 16vw);
    row-gap: 2vw;
    column-gap: 2vw;
}

.about .aboutme .stat .s{
    border: 1px solid black;
    padding: 2vw;
}

.about .aboutme .stat .s .figure{
    margin: 1.5vw;
    font-weight: bolder;
    font-size: 2vw;
}

.about .aboutme .stat .s .discription{
    margin-left: 4.5vw;
    font-size: 2vw;
}

.about .tech_skills {
    /* border: 1px solid red; */
    padding: 2vw;
    text-align: center;
    font-size: 2vw;
}

.about .tech_skills h3{
    text-align: center;
    font-size: 2vw;
}

.about .tech_skills .main{
    /* border: 1px solid red; */
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 2vw;
    column-gap: 2vw;
    margin: 0 18vw;
    text-align: left;
}

.about .tech_skills .main .t{
    display: grid;
    column-gap: 1vw;
}

.about .tech_skills .main .t div{
    margin-top: 1vw;
    border: 1px solid black;
    height: 1vw;
    width: 100%;
    border-radius: 10vw;
}

.about .soft_skills {
    /* border: 1px solid red; */
    padding: 2vw;
    text-align: center;
    font-size: 2vw;
}

.about .soft_skills h3{
    text-align: center;
    font-size: 2vw;
}

.about .soft_skills .main{
    /* border: 1px solid red; */
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 2vw;
    column-gap: 2vw;
    margin: 0 18vw;
    text-align: left;
}

.about .soft_skills .main .t{
    display: grid;
    column-gap: 1vw;
}

.about .soft_skills .main .t div{
    margin-top: 1vw;
    border: 1px solid black;
    height: 1vw;
    width: 100%;
    border-radius: 10vw;
}

/* .about .education {
    border: 1px solid red;
} */

.about .education h3{
    text-align: center;
    font-size: 2vw;
}

.about .education .main{
    padding: 2vw;
    display: flex;
    justify-content: space-around;
}

.about .education .main>div{
    border: 1px solid black;
    width: 25vw;
    text-align: left;
    padding: 1vw;
}

.about .education .main .degree{
    font-size: 1.5vw;
    font-weight: bolder;
}

.about .education .main .college{
    font-size: 1vw;
    font-weight: bolder;
}

#projects{
    padding-top: 80px;
}

.projects h2{
    text-align: center;
    font-size: 4vw;
}

.projects .main{
    padding-top: 4vw;
    padding-bottom: 20vw;
    display: flex;
    justify-content: space-evenly;
}

.projects .main .card{
    border: 1px solid black;
    border-radius: 1vw;
}

.projects .main .card img{
    width: 20vw;
    border-radius: 1vw 1vw 0 0;
}

.projects .main .card .bottom{
    display: flex;
    justify-content: space-evenly;
}